<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login and Sign Up</title>
<link rel="stylesheet" href="static/style.css">
</head>
<body>

<div class="container">
   

    <div class="form-container" >
        <form id="signupForm" class="form" method="post">
            <h2 style="text-align: center;">Sign Up</h2>
            <input type="text" id="firstName" name="firstName" placeholder="First Name" required>
            <input type="text" id="lastName" name="lastName" placeholder="Last Name" required>
            <input type="email" id="signupEmail" name="signupEmail" placeholder="Email" required>
            <input type="password" id="signupPassword" name="signupPassword" placeholder="Password" required>
            <select id="sex" name="sex" required>
                <option value="" disabled selected>Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
            <input type="number" id="age" name="age" placeholder="Age" required>
            <input type="datetime-local" name="dateTimePicker" id="dateTimePicker" required>
            <button type="submit">Sign Up</button>
        </form>
        <a href="/"><button id="loginOption" class="option-btn">Login</button></a>
    </div>
</div>


</body>
</html>
