<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Mesob store </title>
    <link rel="stylesheet" href="./static/registryStyle.css">
</head>
<body>
<div class="wrapper">
    <h2>Login</h2>
    
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-messages">
        <!-- {% for category, message in messages %} -->
        <div class="flash-message {{ category }}">
            {{ message }}
        </div>
        <!-- {% endfor %} -->
    </div>
    {% endif %}
    {% endwith %}
    
    <form method="post">
       
        <div class="input-box">
            <input type="text" id="user_name" name="user_name" placeholder="Enter your User name" required>
        </div>
        <div class="input-box">
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
        </div>
       
        <div class="input-box button">
            <input type="Submit" value="Login">
        </div>
        <div class="text">
            <h3>I don't have an account? <a href="index.html">Register now</a></h3>
        </div>
        <div class="text">
            <h3>I am admin? <a href="adminLogin.html">I am Admin</a></h3>
        </div>
    </form>
</div>
</body>
</html>
